       body {
           display: flex;
           justify-content: center;
       }

       .container {
           display: flex;
           justify-content: center;
           flex-wrap: wrap;
           width: 800px;
           gap: 10px;
       }

       button {
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
           font-size: large;
           padding: 20px;

           width: 150px;
       }

       .btn1 {
           background-color: rgb(52, 66, 66);
           color: rgb(0, 0, 0);
           border: 5px solid transparent;
           border-radius: 20px;
           background: white;
           box-shadow: 0 10px 25px rgba(255, 0, 0, 0.5);
           background-clip: padding-box;
       }

       .btn1:hover {
           background: black;
           color: white;
           border-radius: 20px;
           border: 3px solid transparent;
           box-shadow: 0 10px 25px rgba(0, 0, 0, 0.712);
           transition: all 0.4s ease;
           flex-grow: 1;
       }

       .btn2 {
           color: white;
           background-color: black;
           border-radius: 20px;


       }

       .btn2:hover {
           background: #3F5EFB;
           background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
         
         
           flex: 1 1 20px;
           transition: all 0.4s ease;
       }


       .btn3{
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        border: none;
        border-radius: 10px;


       }

       .btn3:hover{
        box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
        background-color: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

       }